# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/code-security/dependabot/dependabot-version-updates/configuration-options-for-the-dependabot.yml-file

version: 2
updates:

  # ----------------------------------------------------
  # 1. NPM (JavaScript / TypeScript / React)
  # ----------------------------------------------------
  - package-ecosystem: "npm"
    directory: "/frontend-service" 
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
    open-pull-requests-limit: 10
    groups:
      prod-dependencies:
        dependency-type: "production"
        update-types:
          - "minor"
          - "patch"
      dev-dependencies:
        dependency-type: "development"
        update-types:
          - "minor"
          - "patch"

  # ----------------------------------------------------
  # 2. Go (Golang)
  # ----------------------------------------------------
  - package-ecosystem: "gomod"
    directory: "/backend-service"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
    open-pull-requests-limit: 10
    groups:
      go-dependencies:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  # ----------------------------------------------------
  # 3. Docker
  # ----------------------------------------------------
  - package-ecosystem: "docker"
    directory: "/backend-service"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
    open-pull-requests-limit: 10
    groups:
      base-images:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

  # ----------------------------------------------------
  # 4. GitHub Actions
  # ----------------------------------------------------
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "sunday"
      time: "16:00"
    open-pull-requests-limit: 10
    groups:
      all-actions:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
